1. Write a python program to convert a string to lowercase

In [1]:
string = 'PYTHON'
string.lower()

'python'


2. Write a python program to convert only odd indexed characters to lowercase

Ex: PYTHON
Output: - PyThOn

In [2]:
string = 'PYTHON'
a = 0
for i in string:
    if(a%2 == 1):
        string = string[:a] + string[a].lower() + string[a+1:]
    a = a+1
string

'PyThOn'


3. Write a python program to convert only even indexed characters to lowercase

Ex: PYTHON
Output: - pYtHoN

In [3]:
string = 'PYTHON'
a = 0
for i in string:
    if(a%2 == 0):
        string = string[:a] + string[a].lower() + string[a+1:]
    a = a+1
string

'pYtHoN'


4. Write a python program to convert only odd indexed characters to uppercase

Ex: python
Output: pYtHoN

In [4]:
string = 'python'
a = 0
for i in string:
    if(a%2 == 1):
        string = string[:a] + string[a].upper() + string[a+1:]
    a = a+1
string

'pYtHoN'


5. Write a python program to convert only even indexed characters to uppercase

Ex: python
Output: - PyThOn

In [5]:
string = 'python'
a = 0
for i in string:
    if(a%2 == 1):
        string = string[:a] + string[a].upper() + string[a+1:]
    a = a+1
string

'pYtHoN'


6. Write a python program where you have different variables which contain your name, gender, age, phone number, father’s name and mother’s name. And by using this variable create a variable named bio-data where you will use all this variable

Ex: print(bio-data)

Output:- My name is …., My age is ….,My phone-no is ….,my father’s name is …,and my mother’s name is…

In [6]:
name = 'kiran'
age = 25
phone = '4235234'
father_name = 'ramesh'
mother_name = 'sunitha'

print(f'My name is {name},My age is {age},My phone-no is {phone},my father’s name is {father_name},and my mother’s name is {mother_name}')

My name is kiran,My age is 25,My phone-no is 4235234,my father’s name is ramesh,and my mother’s name is sunitha

7. Write a python program to count how many times “@” occurred
 Ex: S@ndhy@ 
Output: 2

In [8]:
string = 'S@ndhy@'
string.count('@')

2

8. Write a python program to get only names from the string

Ex: “name1.@gmail.com, name2.@gmail.com, name#3.@gmail.com”
	
Output-name1, name2, name3

In [10]:
string = 'name1@gmail.com, name2@gmail.com, name3@gmail.com'


for i in string.split(','):
    print(i[:i.find('@')].strip())

name1
name2
name3

9. Write a program to remove vowels from the entire alphabets

Ex: “abcdefghijklmnopqrstuvwxyz”

Output: “bcdfghjklmnpqrstvwxyz”

In [12]:
string = 'abcdefghijklmnopqrstuvwxyz'

for i in ['a', 'e', 'i', 'o', 'u']:
    string = string.replace(i, '')

print(string)

bcdfghjklmnpqrstvwxyz

10. Find all occurrences of a substring in a given string by ignoring the case

Ex: str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"

Output: innomatics count is: 2

In [13]:
string = "Welcome to Innomatics. innomatics awesome, isn't it?"
sub_str = 'innomatics'

print(f'{sub_str} count is: {string.lower().count(sub_str.lower())}')

innomatics count is: 2